/*MOBILE-RULES*/
@media screen and (max-width:767px) {
    .mail-lin{
        display: none;
    }
    .menu-link{
        display: none;
    }
    .phone-lin{
        display: none;
    }
    .team-icon:not(:last-child){
        margin-bottom: 72px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../imeges/hero-tab-2x.jpg);
        }
    }
    .list-text:not(:last-child){
        margin-bottom: 72px;
    }
    .sign-up{
        margin-top: 72px;
    }
    .costumers-list {
        column-gap: 16px;
    }
}

@media screen and (max-width:479px){
    .modal{
        width: 100vw;
        height: 100vh;
    }
    .modal-form{
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .container{
        width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
}





